body {
    background-color: #E8E8E8;
}

header {
    font-size: 32px;
    padding: 5px 0;
}

img {
    width : 100%;
}

p {
    line-height: 1.5em;
    margin: auto 10px;
    word-break: keep-all;
}

.card {
    width: 90%;
    height: auto;
    text-align: center;
    background: white;
    margin: auto;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.button {
    width: 100%;
    height: auto;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.red {
    background-color: #f44336;
    background: #f44336;
    color: white;
}

.green {
    background-color: #4CAF50;
    background: #4CAF50;
    color: white;
}

.blue {
    background-color: #008CBA;
    background: #008CBA;
    color: white;
}

.bluehost {
    background-color: #3575D6;
    background: #3575D6;
    color: white;
}

.input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    display: block;
    text-align: center;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
input[type=checkbox] {
    display: none;
}

span {
    background-color: #f44336;
    border-radius: 4px;
    font-weight: 700;
    color: #FFF;
    font-size: 1em;
    letter-spacing: 4px;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    width: 260px;
    padding: 15px 0;
    cursor: pointer;
    display: block;
    margin: 7px auto;
    transition: background-color 200ms ease-in;
}
    
input[type=checkbox]:checked + span {
    background: #3575D6 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;
    background-size: 15px 13px;
}
    
